/* MOBILE STATE VIEW */
@media screen and (max-width: 640px) {
  .form-container {
    background-color: #e3e5e9;
    max-width: 640px;
    min-height: calc(100vh - 80px);
    top: 0;
  }

  form {
    width: 100%;
  }

  form div {
    padding: 5px;
  }

  form h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 2;
    color: #63666e;
  }

  form h3 {
    font-size: 0.85em;
    font-weight: 600;
    line-height: 2;
    color: #63666e;
  }

  .input-field {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #63666e;
    background: transparent;
    padding: 6px;
    font-size: 1.2em;
    outline: 0px;
  }

  .input-field:focus {
    border: 1px solid #395898;
  }

  .submit-btn {
    width: 100%;
    background: #395898 !important;
    margin-top: 0.5em;
  }
}

/* DESKTOP STATE VIEW */

@media screen and (min-width: 640px) {
  .form-container {
    max-width: 500px;
  }

  .form-container form {
    width: 500px;
    background: #e3e5e9;
    padding: 2em 5em;
  }

  .form-container form div {
    margin: 0.5em auto;
  }

  .form-container form h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: #63666e;
    margin-bottom: 0.5em;
  }

  .form-container form h3 {
    font-size: 0.85em;
    font-weight: 600;
    color: #63666e;
    line-height: 2;
  }

  .form-container form .input-field {
    width: 100%;
    border-radius: 7px;
    background: transparent;
    font-size: 1.2em;
    padding: 7px;
    color: #63666e;
  }

  .form-container form .input-field:focus {
    border: 1px solid #395898;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .submit-btn {
    width: 100%;
    background: #395898 !important;
    margin-top: 1em;
  }
}
/* Colours used on page */
/* #63666e - gray colour */
/* #e3e5e9 - dimmed white colour */
/* #395898 - dark blue colour */